.navMain {
  background: var(--lightGreen);
  font-size: var(--xxlText);
}

.navTag {
  display: flex;
  align-items: center;
  margin-right: 10rem;
}

.masterContainer {
  max-width: 1580px;
  margin: 0 auto;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navinks {
  display: flex;
}

.navinks a {
  display: inline-block;
  margin-right: 6rem;
  color: var(--darkGreen);
  font-weight: 600;
  transition: all var(--time);
}

.navinks a:hover {
  color: var(--darkGreenH);
}

.navinks a:last-child {
  margin-right: 0;
}

.lineHover {
  margin: 1px auto 0;
  height: 2px;
  background: var(--darkGreenH);
  width: 0%;
  transition: var(--time);
}

.navLink {
  display: inline-block;
}

.navLink:hover {
  color: var(--darkGreenH);
  transform: translateY(-3.5px);
}

.navLink:hover .lineHover {
  width: 97%;
}

.lngTheme,
.lng {
    display: flex;
}

.lng {
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
}
.lng span {
  font-weight: 600;
  color: var(--darkGreen);
}
.lng .arrow {
  transition: var(--time);
  fill: var(--darkGreen);
  margin: 0 3px;
}
.lng:hover .arrow {
  transform: rotate(90deg);
}
.lng:hover .choose_language {
  opacity: 1;
}

.choose_language {
  background: var(--lightGreen);
  border-radius: 5px;
  width: 75px;
  opacity: 0;
  position: absolute;
  top: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: var(--time);
}

.choose_language .the_lang {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 2;
}
.choose_language .the_lang .lang {
  margin-left: 8px;
}

.theme {
  font-size: 1.5rem;
  cursor: pointer;
  fill: var(--darkGreen);
}

.planet path {
  stroke: var(--darkGreen);
}

.logo {
   border: 2px solid red;
}

@media only screen and (max-width: 1095px) {
  .navinks {
    /* height: 100vh; */
    /* width: 100vw; */
    flex-direction: column;
    /* transform: translate(-1200px); */
  }

  .navTag {
    /* flex-direction: column; */
    flex-direction: row;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  .navinks a {
    margin-right: 3rem;
  }

  .lngTheme {
    align-items: center;
    justify-content: center;
}
}